In [5]:
%matplotlib notebook
import json
import numpy as np
import os
import pandas as pd
import sys
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
import time, datetime, math

DATA_DIR = 'data/blockchain/bitcoin/'

def print_time(unix, str=''):
    print(str, time.ctime(int(unix)))
    
def get_readable_time(unix):
    return [time.ctime(int(u)) for u in unix]

In [20]:
s = "01/12/2011"
s = '2009-01-03 00:00:00'
time.mktime(datetime.datetime.strptime(s, "%Y-%m-%d %H:%M:%S").timetuple())

1230937200.0

In [48]:
blockchain_df = pd.DataFrame()
for filename in os.listdir(DATA_DIR):
    column = filename.split('.')[0]
    print(column)
    content = pd.read_csv(DATA_DIR + filename, names=['date', column], header=None).set_index('date')
    print(content.shape)
    if blockchain_df.shape[0] < 1:
        blockchain_df = content
    else:
        blockchain_df[column] = content[column]
    #print(content)
    #blockchain_df = pd.concat([blockchain_df, content])

cost-per-transaction-percent
(1683, 1)
cost-per-transaction
(1683, 1)
difficulty
(1683, 1)
hash-rate
(1683, 1)
miners-revenue
(365, 1)
n-transactions
(1683, 1)
transaction-fees-usd
(1683, 1)
transaction-fees
(1683, 1)
transactions-per-second
(1501, 1)

In [47]:
blockchain_df

,cost-per-transaction-percent,cost-per-transaction,difficulty,hash-rate,miners-revenue,n-transactions,transaction-fees-usd,transaction-fees,transactions-per-second
date,,,,,,,,,
2009-01-03 00:00:00,0.000000,0.000000,1.000000e+00,4.971027e-08,NaN,1.0,0.000000e+00,0.000000,NaN
2009-01-05 00:00:00,0.000000,0.000000,0.000000e+00,0.000000e+00,NaN,0.0,0.000000e+00,0.000000,NaN
2009-01-07 00:00:00,0.000000,0.000000,0.000000e+00,0.000000e+00,NaN,0.0,0.000000e+00,0.000000,NaN
2009-01-09 00:00:00,0.000000,0.000000,1.000000e+00,6.959438e-07,NaN,14.0,0.000000e+00,0.000000,NaN
2009-01-11 00:00:00,0.000000,0.000000,1.000000e+00,5.269289e-06,NaN,106.0,0.000000e+00,0.000000,NaN
2009-01-13 00:00:00,57500.000000,0.000000,1.000000e+00,5.716681e-06,NaN,116.0,0.000000e+00,0.000000,NaN
2009-01-15 00:00:00,1533.816425,0.000000,1.000000e+00,6.313204e-06,NaN,136.0,0.000000e+00,0.000000,NaN
2009-01-17 00:00:00,5400.000000,0.000000,1.000000e+00,5.368709e-06,NaN,109.0,0.000000e+00,0.000000,NaN
2009-01-19 00:00:00,3966.666667,0.000000,1.000000e+00,5.915522e-06,NaN,120.0,0.000000e+00,0.000000,NaN
2009-01-21 00:00:00,1130.000000,0.000000,1.000000e+00,5.617260e-06,NaN,115.0,0.000000e+00,0.000000,NaN
2009-01-23 00:00:00,2233.333333,0.000000,1.000000e+00,3.330588e-06,NaN,68.0,0.000000e+00,0.000000,NaN
2009-01-25 00:00:00,19400.000000,0.000000,1.000000e+00,9.643792e-06,NaN,195.0,0.000000e+00,0.000000,NaN
2009-01-27 00:00:00,447.826087,0.000000,1.000000e+00,5.120158e-06,NaN,105.0,0.000000e+00,0.000000,NaN
2009-01-29 00:00:00,0.000000,0.000000,1.000000e+00,6.064653e-06,NaN,122.0,0.000000e+00,0.000000,NaN
2009-01-31 00:00:00,0.000000,0.000000,1.000000e+00,6.412625e-06,NaN,129.0,0.000000e+00,0.000000,NaN
2009-02-02 00:00:00,0.000000,0.000000,1.000000e+00,6.313204e-06,NaN,127.0,0.000000e+00,0.000000,NaN
2009-02-04 00:00:00,16171.443597,0.000000,1.000000e+00,6.114363e-06,NaN,126.0,0.000000e+00,0.000000,NaN
2009-02-06 00:00:00,0.000000,0.000000,1.000000e+00,6.412625e-06,NaN,129.0,0.000000e+00,0.000000,NaN
2009-02-08 00:00:00,670.000000,0.000000,1.000000e+00,6.661176e-06,NaN,135.0,0.000000e+00,0.000000,NaN
2009-02-10 00:00:00,0.000000,0.000000,1.000000e+00,6.313204e-06,NaN,127.0,0.000000e+00,0.000000,NaN
2009-02-12 00:00:00,2950.000000,0.000000,1.000000e+00,5.865812e-06,NaN,119.0,0.000000e+00,0.000000,NaN
2009-02-14 00:00:00,0.000000,0.000000,1.000000e+00,7.009148e-06,NaN,141.0,0.000000e+00,0.000000,NaN
2009-02-16 00:00:00,0.000000,0.000000,1.000000e+00,6.114363e-06,NaN,123.0,0.000000e+00,0.000000,NaN
2009-02-18 00:00:00,0.000000,0.000000,1.000000e+00,6.164073e-06,NaN,124.0,0.000000e+00,0.000000,NaN
2009-02-20 00:00:00,800.000000,0.000000,1.000000e+00,6.362915e-06,NaN,129.0,0.000000e+00,0.000000,NaN
2009-02-22 00:00:00,576.190476,0.000000,1.000000e+00,6.014943e-06,NaN,125.0,0.000000e+00,0.000000,NaN
2009-02-24 00:00:00,0.000000,0.000000,1.000000e+00,5.517840e-06,NaN,111.0,0.000000e+00,0.000000,NaN
2009-02-26 00:00:00,0.000000,0.000000,1.000000e+00,4.772186e-06,NaN,96.0,0.000000e+00,0.000000,NaN
2009-02-28 00:00:00,283.333333,0.000000,1.000000e+00,5.070448e-06,NaN,103.0,0.000000e+00,0.000000,NaN
2009-03-02 00:00:00,0.000000,0.000000,1.000000e+00,5.169868e-06,NaN,104.0,0.000000e+00,0.000000,NaN
...,...,...,...,...,...,...,...,...,...
2018-01-22 00:00:00,1.206450,103.148288,2.227848e+12,1.849473e+07,2.444764e+07,245562.0,3.317461e+06,314.612539,NaN
2018-01-24 00:00:00,1.333913,111.888553,2.227848e+12,1.949146e+07,2.702101e+07,250423.0,3.198499e+06,283.498099,NaN
2018-01-26 00:00:00,0.834349,106.814230,2.603077e+12,2.005695e+07,2.268009e+07,220459.0,2.294142e+06,209.132216,NaN
2018-01-28 00:00:00,1.302242,117.430262,2.603077e+12,2.044515e+07,2.414324e+07,213446.0,1.827743e+06,155.344856,NaN
2018-01-30 00:00:00,1.301143,96.749249,2.603077e+12,2.160975e+07,2.212487e+07,236609.0,1.632514e+06,160.300904,NaN
2018-02-01 00:00:00,0.799509,78.049647,2.603077e+12,2.070395e+07,1.932917e+07,257664.0,1.944067e+06,214.027545,NaN
2018-02-03 00:00:00,1.290914,98.824757,2.603077e+12,2.044515e+07,1.856181e+07,194891.0,1.333616e+06,146.927769,NaN
2018-02-05 00:00:00,0.967008,78.586115,2.603077e+12,2.393894e+07,1.645761e+07,216363.0,1.188364e+06,173.767502,NaN
2018-02-07 00:00:00,0.905838,71.480272,2.874674e+12,2.014902e+07,1.476217e+07,213719.0,1.000516e+06,123.521091,NaN
2018-02-09 00:00:00,0.890279,85.223878,2.874674e+12,1.929161e+07,1.468536e+07,177860.0,7.542345e+05,88.364251,NaN
2018-02-11 00:00:00,2.272316,110.491753,2.874674e+12,2.157803e+07,1.583171e+07,147208.0,5.169987e+05,61.964583,NaN
2018-02-13 00:00:00,1.441899,99.544224,2.874674e+12,2.343574e+07,1.772860e+07,182984.0,5.895769e+05,68.573253,NaN
2018-02-15 00:00:00,1.317213,85.662879,2.874674e+12,1.872001e+07,1.652716e+07,198183.0,6.393366e+05,64.080055,NaN
2018-02-17 00:00:00,2.362525,119.228205,2.874674e+12,2.129222e+07,2.023658e+07,173789.0,5.273410e+05,48.638754,NaN
2018-02-19 00:00:00,2.006207,123.102480,2.874674e+12,2.314993e+07,2.256637e+07,187367.0,5.656382e+05,50.908112,NaN
2018-02-21 00:00:00,1.480259,110.521018,3.007384e+12,2.526514e+07,2.226106e+07,205201.0,4.285010e+05,40.682568,NaN
2018-02-23 00:00:00,1.092283,105.573024,3.007384e+12,2.212568e+07,1.914543e+07,185193.0,7.514693e+05,73.948106,NaN
2018-02-25 00:00:00,2.855716,145.844183,3.007384e+12,2.556413e+07,2.072647e+07,144869.0,4.018327e+05,41.440603,NaN
2018-02-27 00:00:00,1.472076,100.498286,3.007384e+12,2.391966e+07,2.159235e+07,219624.0,5.440690e+05,50.545787,NaN
2018-03-01 00:00:00,1.153442,99.595931,3.007384e+12,2.466715e+07,2.272887e+07,233744.0,5.731016e+05,52.055746,NaN
2018-03-03 00:00:00,2.504820,146.396239,3.007384e+12,2.690962e+07,2.548563e+07,177024.0,4.300140e+05,37.963799,NaN
2018-03-05 00:00:00,1.397584,109.776004,3.233581e+12,2.437296e+07,2.168946e+07,201438.0,5.163654e+05,44.531381,NaN
2018-03-07 00:00:00,1.278951,94.445124,3.290606e+12,2.568158e+07,1.985669e+07,213978.0,3.524899e+05,34.837706,NaN
2018-03-09 00:00:00,0.886789,85.299513,3.290606e+12,2.388223e+07,1.659702e+07,198180.0,3.167245e+05,34.845941,NaN
2018-03-11 00:00:00,1.873821,126.291216,3.290606e+12,2.502727e+07,1.875652e+07,150884.0,3.866527e+05,39.610384,NaN
2018-03-13 00:00:00,1.313719,95.013795,3.290606e+12,2.584515e+07,1.817208e+07,196140.0,5.554732e+05,60.676289,NaN
2018-03-15 00:00:00,1.239738,74.451771,3.290606e+12,2.355508e+07,1.504462e+07,206186.0,3.062938e+05,36.646248,NaN
2018-03-17 00:00:00,2.141091,97.479587,3.290606e+12,2.437296e+07,1.488822e+07,154496.0,1.719872e+05,21.515417,NaN
2018-03-19 00:00:00,1.474540,86.448156,3.462542e+12,2.667921e+07,1.630673e+07,191528.0,2.589278e+05,30.780649,NaN
2018-03-21 00:00:00,1.665697,88.676893,3.462542e+12,2.616284e+07,1.700968e+07,194846.0,2.776065e+05,31.025274,NaN